	{{ partial "bookheader.html" . }}
	<body class="{{ .Site.Params.themeColor }}">
		{{ partial "sidebar.html" . }}

		<div class="content container">
			{{ if (eq .Params.displaynav "true") }}
				<h1>Golang的那些事儿</h1>
				<a href="{{ .Site.BaseURL }}/gtcr/{{ .Params.prev }}">【上一页】</a>
				<a href="{{ .Site.BaseURL }}/gtcr/">【目录】</a>
				<a href="{{ .Site.BaseURL }}/gtcr/{{ .Params.next }}">【下一页】</a>
				<hr />
			{{ end }}

			<div class="post">
			 	<h1>{{ .Title }}</h1>
			 <!--
			  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
			 -->
			      {{ .Content }}
			</div>

			{{ if (eq .Params.displaynav "true") }}
				<a href="{{ .Site.BaseURL }}/gtcr/{{ .Params.prev }}">【上一页】</a>
				<a href="{{ .Site.BaseURL }}/gtcr/">【目录】</a>
				<a href="{{ .Site.BaseURL }}/gtcr/{{ .Params.next }}">【下一页】</a>
				<hr />
			{{ end }}

			{{ if (eq .Params.displaynav "true") and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
				<h2>评论</h2>
				{{ partial "disqus" . }}
			{{ end }}
		</div>
	{{ partial "bookfooter.html" . }}
